
nav {
  /*background: #FFF !important;*/
  background: #2ecc71 !important;
  color: tomato;
  border-bottom: 1px solid #ddd !important;
  -webkit-box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 1px 22px 0px rgba(0,0,0,0.75);
}

.navbar{
  min-height: 70px;
  font-size: 30px;
}

nav a {
  /*color: #333 !important;*/
  color: white !important;
}
nav a:hover {
  color: purple !important;
}

nav.navbar,
navbar-brand,
nav a {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding-top: 10px;
  font-weight: bold;
  font-size: 36px;
}

nav.shrink {
  min-height:32px !important;
}

a.shrink,
.navbar-brand.shrink {
  padding-top:6px !important; 
  padding-bottom:0 !important;
  height: 32px;
}


section .wrap {
  width: 1024px;
  text-align: center;
  margin: 0 auto;
  padding: 120px 0 60px 0;
}
section .btn {
  margin: 0 30px 60px 30px;
}

.btn {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 13px 17px;
  border: none;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
}
.btn.btn-default {
  color: #000;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
}
.btn.btn-default.btn-border {
  border-color: #ffffff;
  color: #fff;
}
.btn.btn-default.btn-3d {
  box-shadow: inset 0 -2px 0 #cccccc;
}
.btn.btn-default:hover {
  background-color: #e6e6e6;
  color: #000;
}
.btn.btn-primary {
  background-color: #3498db;
}
.btn.btn-primary.btn-border {
  border-color: #3498db;
  color: #3498db;
}
.btn.btn-primary.btn-3d {
  box-shadow: inset 0 -2px 0 #196090;
}
.btn.btn-primary:hover {
  background-color: #000000;
  color: #fff;
}
.btn.btn-success {
  background-color: #2ecc71;
}
.btn.btn-success.btn-border {
  border-color: #2ecc71;
  color: #2ecc71;
}
.btn.btn-success.btn-3d {
  box-shadow: inset 0 -2px 0 #1b7943;
}
.btn.btn-success:hover {
  background-color: #25a25a;
  color: #fff;
}
.btn.btn-info {
  background-color: #81cfe0;
}
.btn.btn-info.btn-border {
  border-color: #81cfe0;
  color: #81cfe0;
}
.btn.btn-info.btn-3d {
  box-shadow: inset 0 -2px 0 #32aec9;
}
.btn.btn-info:hover {
  background-color: #58bfd6;
  color: #fff;
}
.btn.btn-warning {
  background-color: #f39c12;
}
.btn.btn-warning.btn-border {
  border-color: #f39c12;
  color: #f39c12;
}
.btn.btn-warning.btn-3d {
  box-shadow: inset 0 -2px 0 #976008;
}
.btn.btn-warning:hover {
  background-color: #c87f0a;
  color: #fff;
}
.btn.btn-danger {
  background-color: #c0392b;
}
.btn.btn-danger.btn-border {
  border-color: #c0392b;
  color: #c0392b;
}
.btn.btn-danger.btn-3d {
  box-shadow: inset 0 -2px 0 #6d2018;
}
.btn.btn-danger:hover {
  background-color: #962d22;
  color: #fff;
}
.btn.btn-lg {
  font-size: 14px;
  padding: 17px 24px;
}
.btn.btn-sm {
  padding: 9px 14px;
}
.btn.btn-xs {
  font-size: 11px;
  padding: 7px 12px;
}
.btn.btn-border {
  border: 2px solid;
  background: transparent;
}

/*radio*/

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 10px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  min-height: 100vh;
  color: #0f273d;
  font-family: 'Lato', sans-serif;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

/*Radio button*/

.radio {
  margin: 0.5rem;
}
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}
.radio input[type="radio"] + .radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #3197EE;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #3197EE;
}
.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}

.radio {
  font-size: 16px;
  font-weight: bold;
  color:#2ecc71
}


.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}
