<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Pani Energy - AI Forecaster </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
        <link rel="stylesheet" https://mcaule.github.io/d3-timeseries/dist/d3_timeseries.min.css />
    </head>


    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top navbar-right" role="navigation">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a class="navbar-brand" style="font-size:20px; color:blue;" href="/" id="zoom-fade">Pani Energy Forecaster </a>
            </div>
        
        </nav>

        <div class="container" style="margin-top: 70px;">
<!--           <div class="text-center">
            <h1>Manage your future with data!</h1>
            <p class="lead">New! Now with Pani Engergy you can predict the concentration of chemicals required for the next two weeks as well as the total cost associated with it. To get our customers better prepared for a high turbidity event, we now provide a forecasted turbidity for the next few days</p>
          </div> -->
            
<!--         <form action="/retrieve values">
          <label for="cars">Select the properties:</label>
          <select name="cars" id="cars">
            <optgroup label="Flow">
              <option value="in_flow">Inlet Flow</option>
              <option value="out_flow">Outlet Flow</option>
            </optgroup>
            <optgroup label="ph">
              <option value="in_ph">inlet ph</option>
              <option value="out_ph">outlet ph</option>
            </optgroup>
          </select>
          <br><br>
          <input type="submit" value="Submit">
        </form>
         -->
        <select class = "btn btn-success btn-lg" id="locality-dropdown" name="locality">
        </select>
        <br>
        <br>

        <!-- <form action="" onsubmit="sConsole(event)"> -->
        <!-- <div class="form-group"> -->
          <!-- <label for="sel2">Mutiple select list (hold shift to select more than one):</label> -->
          <!-- <select multiple class="form-control" id="sel2"> -->
            <!-- <optgroup label="Flow"> -->
              <!-- <option value="in_flow">Inlet Flow</option> -->
              <!-- <option value="out_flow">Outlet Flow</option> -->
            <!-- </optgroup> -->
            <!-- <optgroup label="ph"> -->
              <!-- <option value="in_ph">inlet ph</option> -->
              <!-- <option value="out_ph">outlet ph</option> -->
            <!-- </optgroup> -->
        <!-- </select> -->
        <!-- <br><br> -->
          <!-- <input type="submit" value="Add"> -->
        <!-- </div> -->
        <!-- </form> -->



        <br>
        <br>

       <!--  <div id="container">
          <h1></h1>
          <h4>Input your console data below : </h4>
          <form action="" id="form" onsubmit="sConsole(event)">
            <input type="text" name="data" id="data">
            <button type="submit">Add</button>
          </form>
        </div>

 -->



<!--         <form id="form1" action = "http://localhost:5003/uploader" method = "POST" enctype = "multipart/form-data">
            <input class="btn btn-success btn-lg"  type = "file" name = "file" />
            <br>
            <br>
            <input class="btn btn-success btn-lg" id="upload_button" value="{{ file_status }}" type = "submit"/>
        </form>  -->
        <br>
        <br>
<!--         
        <div class="radio" style="margin-top:1%;">
            <input id="radio-1" name="prediction_type_radio" value="concentration" type="radio" {{ radio_option }} >
            <label for="radio-1" class="radio-label" style="font-size: 16px;font-weight: bold;color:#2ecc71">Predict Concentration & Flow Rate <span>
            </label>
        </div>
  
        <div class="radio" style="margin-top:1%;">
            <input id="radio-2" name="prediction_type_radio" value="cost" type="radio" {{ radio_option }}>
            <label  for="radio-2" class="radio-label" style="font-size: 16px;font-weight: bold;color:#2ecc71">Predict Cost</label>
        </div>
  
        <div class="radio" style="margin-top:1%;">
            <input id="radio-3" name="prediction_type_radio" value="turbidity" type="radio" {{ radio_option }}>
            <label for="radio-3" class="radio-label" style="font-size: 16px;font-weight: bold;color:#2ecc71">Predict Turbidity</label>
        </div>

 -->
        <div id="prediction_area">
            <br>
            <br>
            <br>
            <input class="btn btn-success btn-lg" id="predict_button" value="Submit">
            <br>
            <br>
            <div id="my_dataviz"></div>
            <br>
            <br>
            <br>
            <div id="populated_result">
            </div>
        </div>
    </div> 


        <div id="chart"></div>


        <br>
        <br>
        <div id="plot"></div>



</div>


    <!-- container -->  
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="../static/js/jquery-3.2.1.min.js"></script>
        <script src="../static/js/prediction.js"></script>
        <script type="text/javascript">
        </script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.0/d3.min.js"> </script>
        <script src="https://mcaule.github.io/d3-timeseries/dist/d3_timeseries.min.js"> </script>
        <script src = "https://mcaule.github.io/d3-timeseries/dist/create-example-data.js"> </script>
        <script src="../static/js/testingd3.js"></script>
        <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
        <script src="../static/js/plotly_ts.js"></script>
        <script type="text/javascript">
                    
        // function sConsole(event) {
        //   event.preventDefault();
        //   var data = document.getElementById("data");
        //   console.log(data.value);
        // }

        function sConsole(event) {
          event.preventDefault();
          var data = document.getElementById("sel2");
          console.log(sel2.value);
        }


        </script>
    </body> 
</html>